:host {
  display: block;
  min-height: 100vh;
  width: 100%;
  position: relative;
  background-color: var(--white, #FFFFFF);
}

app-root {
  display: block;
  width: 100%;
  min-height: 100vh;
  background-color: var(--white, #FFFFFF);
}

